/* 
*********
RESET
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
*********
COMMON
 */

/* 
*********
HEADER
 */

header {
  display: flex;
  background-color: #0084fd;
  justify-content: center;
}

.navbar {
  display: flex;
  width: 70%;
  height: 70px;
  border: 1px solid black;

  align-items: center;
  justify-content: space-between;
}

.fa-bars {
  color: white;
  visibility: hidden;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: white;
  align-items: center;
}

.logo {
  vertical-align: middle;
}

.btn-start {
  display: flex;
  background-color: white;
  color: black;
  height: 30px;
  align-items: center;
}

/* 
*********
MAIN
 */

.container-row-1 {
  display: flex;
  width: 70%;
  height: 350px;
  border: 1px solid black;
  margin: 0 auto;
  gap: 20px;
  margin-top: 40px;
}

.container-row-2 {
  display: flex;
  width: 70%;
  height: 350px;
  border: 1px solid black;
  margin: 0 auto;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.box-1 {
  display: flex;
  padding: 20px;
  width: 80%;
  height: 100%;
  background-color: #b5ddff;
  gap: 50px;
}

.col-text {
  border: 1px dashed blue;
}

.col-img {
  border: 1px dashed blue;
}

.box-2 {
  display: flex;
  width: 40%;
  height: 100%;
  background-color: #b5ddff;
}

/* 
*********
FOOTER
 */

/* 
**************
RESPONSIVE
 */

@media screen and (max-width: 768px) {
  .fa-bars {
    visibility: visible;
  }

  .btn-start,
  .list-header {
    display: none;
  }

  .navbar,
  .container-row-1,
  .container-row-2 {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .fa-bars {
    visibility: visible;
  }

  .btn-start,
  .list-header {
    display: none;
  }

  .container-row-1,
  .container-row-2 {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .box-1 {
    display: flex;
    width: 100%;

    flex-direction: column;
  }
  .box-2 {
    display: flex;
    width: 100%;

    flex-direction: column;
  }
}
